.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

#nav-ul {
  width: 100%;
  font-size: 20px;
}

#searchBtn {
  margin-left: 20px;
}

li{
padding: 5px 5px 5px 5px;
display: table-cell;
text-align: center;
vertical-align: middle;
float: left;
width:25%;

}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.navbar-brand img{
  height: 40px;
  width: auto;
}

.Title{
  font-size: 30px;
  font-weight: bolder;
}

.Mainpara{
  margin-top: 40px
}

.App-link {
  color: #61dafb;
}

.filterbar {
  margin-bottom: 50px
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
